.splash-container {
  height: 100vh;
  width: 100%;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: white;
  animation: zoomFade 1.5s ease-in-out;
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}